@charset "UTF-8";

header {height:80px; background:#dcdcdc;}
.header-box {height:100px;}
.contents {height:auto}
footer {height:80px; background:#dcdcdc;}
.footer-box {height:80px;}

.sign-up-box {width:550px;}
.sign-up-table th {background:#D8D8D8;}